
body {
 
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  margin: 0 auto;
  
}

.intro-desc{
  color: lightseagreen;
}
.code-block{
  background-color:#2b3139;
}

.new{
  background-color: lightskyblue;
  color: black;
}

.navbar{
  background:rgb(0,0,0);
  height: 7em;
  padding:10px;
}
.navbar-brand strong{
  color: aliceblue;
}
.navbar-container strong{
  font-weight: 700;
  font-size:50px;
  height: 100%;
  letter-spacing: 1.5px;
  
}
.navbar-container{
  padding:10px;
}
.nav-link-try{
  float:right;
  font-weight: 500;
  font-size:20px;
  margin:0 10px;
}
.nav-link{
  color: blue;
  font-weight: 500;
  font-size:20px;
  margin:0 10px;
}
.p2{
  background:#020914;
}
.Template_template-video__3DZ3I{
  display: flex;
  justify-content: center;
  
}
.bloc-tabs{
  background: transparent;
}
.tabs{
  background:#2b3139 ;
  color: orange;
 
}
.rec-dot{
  background-color: white !important;
}
.Packs{
  background:#020914;
  padding-top:30px;
  margin-top:10px;
  margin-bottom: 30px;
}
.p4{
  margin:30px;
}



.content-tabs{
  height: 700px;
  width: 1200px;
  margin:25px auto;
}
.content-tabs {
  display: flex;
  justify-content: center;
}
@keyframes autoplay1 {
  0% {
  transform:scale(25%,25%)}
  
  100% {transform:scale(100%,100%)}
}
 /* @keyframes autoplay1 {
  0% {
  transform:translateY(500px)}
  
  100% {transform:translateY(0px)}
} */
.content{
  
  display:none;
  
}


.active-content { 
  display:block;
  animation:autoplay1 0.5s ease-in-out;
}
.active-tabs  {
  background:silver;
  border-bottom: 1px solid transparent;
}


figure video{
  width:100%;
  height:100%;
}

.team-cards{
 height:370.13px;
position: relative;

}



.pic{
  min-width: 100%;
  max-height: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 4%;
  
}

.memberinfo-overlay{
    
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left:0px;
    top: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    
    overflow:auto;
    font-size: 20px;
    padding:40px 40px;
    text-align: left;
  
  
}
.memberinfo{
  padding:  0 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right:0;
  left:0;
  border-radius: 4%;
  background: black;
  opacity: 0.7;

}
.memberinforepeat{
  display:flex;
  justify-content: space-between;
  font-size: 15px;
}
.memberinforepeat img{
  width:50px !important;
  height:40px !important;
}
.memberinfo img{
  width:50px;
  height: 50px;
}
.memberinfo-overlay img{
  width:20px;
  height: 20px;
}

.team-cards:hover .memberinfo{
  opacity: 0;
}
.team-cards:hover .pic{
  opacity: 0.4;
}
.team-cards:hover .memberinfo-overlay {
  opacity: 1;
  
  
  
}

.team-cards .memberinfo-overlay{
  width:100%;
  height:100%;
  
}
.icon{
  display:flex;
  justify-content: center;
}
.plan-wrap{
  background:#020914;
  padding-top:30px;
  margin-top:10px;
}
.plan-wrap .lead{
  margin-top: 9px;
  margin-bottom: 18px;
  color: silver;
}
.video-plan-1{
  background-image:linear-gradient(157.54deg, #7A5D15 0.76%, #583001 99.24%);
  padding:15px 10px;
}
.video-plan-2{
  background-image:linear-gradient(153.49deg, #2A4667 0.99%, #35294E 97.05%);
  padding:15px 10px;
  
}
.details{
  display:flex;
  justify-content: space-between;
}
.mini-details{
  color: orange;
}
.rounded-full{
  border-radius: 40%;
  background: transparent;
  margin-right: 20px;
}
.Plans{
  padding-top:25px;
  padding-bottom: 50px;
  margin:50px 90px;
  
}
.prev-price{
  margin-right:5px;
  text-decoration: line-through;
  color: orange;
}
.prev-price,.new-price{
  display:inline-table;
}
.contents{
  display:none;
}
.active-contents{
  display:block;
}

.help2{
  background:linear-gradient(91.72deg, rgb(42 114 229 / 20%) 1.02%, rgb(63 131 248 / 20%) 99.23%);
  padding: 64px 24px;
  display:flex;
  justify-content: space-between;

  
}
.help{
  background: #020914;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 144px;
}

.footer-links img{
  height: 24px;
}
.footer-links-2 img{
  height: 30px;
}
.footer {
  padding:16px 32px;
  display: flex;
  justify-content: space-between;
  width:100%;
  height: 100%;
}
.footer a{
  text-decoration: none;
}

.left-links{
  
 
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

.right-links {
  
    
    display:flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    height: 100%;
 
}
.right-links a{
  color: silver ;
}
.sm-links{
  padding:16px 32px;
}
.sm-links a{
  color:silver;
  text-decoration: none;
  margin-right: 20px;
} 
.com-links{
  display: inline-table;
  
  margin-right: 40px;
}  
.left-links p{
  color:silver;
  line-height: 30px;
} 


