
body {
 
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  
  margin: 0 auto;
  
}
.breakpoint{
  display: flex;
  justify-content: center;
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  width:60%;
  border: none;
  border-top: medium double #333;
  color: darkorange;
  text-align: center;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
  
}
.h1{
  font-size: 50px;
  
}
.intro-desc{
  color: lightseagreen;
}
.code-block{
  background-color:#2b3139;
}

.new{
  background-color: orange;
  color: black;
}

.navbar{
  background:rgb(0,0,0);
  height: 7em;
  margin-bottom: 10px;
  padding:10px;
}

.navbar-brand {
  font-size: 2.5em;
  color: aliceblue;
}
.navbar-container strong{
  font-weight: 700;
  font-size:50px;
  height: 100%;
  letter-spacing: 1.5px;
  
}
.navbar-container{
  padding:10px;
}
.nav-link-try{
  float:right;
  font-weight: 500;
  font-size:20px;
  margin:0 10px;
  background: #FF9A20;
  
}
.nav-link{
  color:#FF9A20;
  
  font-weight: 500;
  font-size:20px;
  margin:0 10px;
}
.p2{
  background:#020914;
}
.intro-start{
  background: orange;
}
.Template_template-video__3DZ3I{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  
}
.bloc-tabs{
  background: transparent;
}
.tabs{
  background:#2b3139 ;
  color: orange;
 
}
.rec-dot{
  background-color:#9acd32 !important;
}
.Packs{
  
  padding-top:30px;
  margin-top:10px;
  margin-bottom: 30px;
}

.p4{
  margin:30px;
}



.content-tabs{
  height: 700px;
  width: 1200px;
  margin:25px auto;
}
.content-tabs {
  display: flex;
  justify-content: center;
}
@keyframes autoplay1 {
  0% {
  transform:scale(25%,25%)}
  
  100% {transform:scale(100%,100%)}
}
 /* @keyframes autoplay1 {
  0% {
  transform:translateY(500px)}
  
  100% {transform:translateY(0px)}
} */
.content{
  
  display:none;
  
}


.active-content { 
  display:block;
  animation:autoplay1 0.5s ease-in-out;
}
.active-tabs  {
  background:silver;
  border-bottom: 1px solid transparent;
}


figure video{
  width:100%;
  height:100%;
}

.team-cards{
 height:370.13px;
position: relative;

}
.TeamMember{
  
  padding-top:30px;
  margin-top:10px;
  margin-bottom: 30px;
}


.pic{
  min-width: 100%;
  max-height: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 4%;
  
}

.memberinfo-overlay{
    
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left:0px;
    top: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    
    overflow:auto;
    font-size: 20px;
    padding:40px 40px;
    text-align: left;
  
  
}
.memberinfo{
  padding:  0 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right:0;
  left:0;
  border-radius: 4%;
  background: black;
  opacity: 0.7;

}
.memberinforepeat{
  display:flex;
  justify-content: space-between;
  font-size: 15px;
}
.memberinforepeat img{
  width:50px !important;
  height:40px !important;
}
.memberinfo img{
  width:50px;
  height: 50px;
}
.memberinfo-overlay img{
  width:20px;
  height: 20px;
}

.team-cards:hover .memberinfo{
  opacity: 0;
}
.team-cards:hover .pic{
  opacity: 0.4;
}
.team-cards:hover .memberinfo-overlay {
  opacity: 1;
  
  
  
}

.team-cards .memberinfo-overlay{
  width:100%;
  height:100%;
  
}
.icon{
  display:flex;
  justify-content: center;
}
.plan-wrap{
  
  padding-top:30px;
  margin-top:10px;
}
.plan-wrap .lead{
  margin-top: 9px;
  margin-bottom: 18px;
  color: silver;
}
.video-plan-1{
  border-radius: 45px;
  
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding:15px 10px;
}
.video-plan-2{
  
  border-radius: 45px;
  background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  padding:15px 10px;
  
}
.details{
  display:flex;
  justify-content: space-between;
}
.mini-details{
  color: orange;
}
.rounded-full{
  border-radius: 40%;
  background: transparent;
  margin-right: 20px;
}
.Plans{
  display: flex;
  justify-content: space-around;
  padding-top:25px;
  padding-bottom: 50px;
  margin:50px 50px;
  
}
.prev-price{
  margin-right:5px;
  text-decoration: line-through;
  color: orange;
}
.prev-price,.new-price{
  display:inline-table;
}
.contents{
  display:none;
}
.active-contents{
  display:block;
}

.help2{
  background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 64px 24px;
  display:flex;
  justify-content: space-between;

  
}
.help{
  
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 84px;
}
.contact{
  color: orange;
}
.register-down{
  background: orange;
}
.footer-links img{
  height: 24px;
}
.footer-links-2 img{
  height: 30px;
}
.footer {
  padding:16px 32px;
  display: flex;
  justify-content: space-between;
  width:100%;
  height: 100%;
}
.footer a{
  text-decoration: none;
}

.left-links{
  
 
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

.right-links {
  
    
    display:flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    height: 100%;
 
}
.right-links a{
  color: silver ;
}
.sm-links{
  padding:16px 32px;
}
.sm-links a{
  color:silver;
  text-decoration: none;
  margin-right: 20px;
} 
.com-links{
  display: inline-table;
  
  margin-right: 40px;
}  
.left-links p{
  color:silver;
  line-height: 30px;
} 


